@font-face {
  font-family: 'aemo-gel-icon';
  src:
    url('fonts/aemo-gel-icon.ttf?ojlf8o') format('truetype'),
    url('fonts/aemo-gel-icon.woff?ojlf8o') format('woff'),
    url('fonts/aemo-gel-icon.svg?ojlf8o#aemo-gel-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="gel-"], [class*=" gel-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'aemo-gel-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gel-sort:before {
  content: "\ea1a";
}
.gel-caret-up:before {
  content: "\ea1b";
}
.gel-caret-right:before {
  content: "\ea1c";
}
.gel-caret-left:before {
  content: "\ea1d";
}
.gel-activity:before {
  content: "\e900";
}
.gel-airplay:before {
  content: "\e901";
}
.gel-alert-circle:before {
  content: "\e902";
}
.gel-alert-octagon:before {
  content: "\e903";
}
.gel-alert-triangle:before {
  content: "\e904";
}
.gel-align-center:before {
  content: "\e905";
}
.gel-align-justify:before {
  content: "\e906";
}
.gel-align-left:before {
  content: "\e907";
}
.gel-align-right:before {
  content: "\e908";
}
.gel-anchor:before {
  content: "\e909";
}
.gel-aperture:before {
  content: "\e90a";
}
.gel-archive:before {
  content: "\e90b";
}
.gel-arrow-down:before {
  content: "\e90c";
}
.gel-arrow-down-circle:before {
  content: "\e90d";
}
.gel-arrow-down-left:before {
  content: "\e90e";
}
.gel-arrow-down-right:before {
  content: "\e90f";
}
.gel-arrow-left:before {
  content: "\e910";
}
.gel-arrow-left-circle:before {
  content: "\e911";
}
.gel-arrow-right:before {
  content: "\e912";
}
.gel-arrow-right-circle:before {
  content: "\e913";
}
.gel-arrow-up:before {
  content: "\e914";
}
.gel-arrow-up-circle:before {
  content: "\e915";
}
.gel-arrow-up-left:before {
  content: "\e916";
}
.gel-arrow-up-right:before {
  content: "\e917";
}
.gel-at-sign:before {
  content: "\e918";
}
.gel-award:before {
  content: "\e919";
}
.gel-bar-chart:before {
  content: "\e91a";
}
.gel-bar-chart-2:before {
  content: "\e91b";
}
.gel-battery:before {
  content: "\e91c";
}
.gel-battery-charging:before {
  content: "\e91d";
}
.gel-bell:before {
  content: "\e91e";
}
.gel-bell-off:before {
  content: "\e91f";
}
.gel-bluetooth:before {
  content: "\e920";
}
.gel-bold:before {
  content: "\e921";
}
.gel-book:before {
  content: "\e922";
}
.gel-book-open:before {
  content: "\e923";
}
.gel-bookmark:before {
  content: "\e924";
}
.gel-box:before {
  content: "\e925";
}
.gel-briefcase:before {
  content: "\e926";
}
.gel-calendar:before {
  content: "\e927";
}
.gel-camera:before {
  content: "\e928";
}
.gel-camera-off:before {
  content: "\e929";
}
.gel-cast:before {
  content: "\e92a";
}
.gel-check:before {
  content: "\e92b";
}
.gel-check-circle:before {
  content: "\e92c";
}
.gel-check-square:before {
  content: "\e92d";
}
.gel-chevron-down:before {
  content: "\e92e";
}
.gel-chevron-left:before {
  content: "\e92f";
}
.gel-chevron-right:before {
  content: "\e930";
}
.gel-chevron-up:before {
  content: "\e931";
}
.gel-chevrons-down:before {
  content: "\e932";
}
.gel-chevrons-left:before {
  content: "\e933";
}
.gel-chevrons-right:before {
  content: "\e934";
}
.gel-chevrons-up:before {
  content: "\e935";
}
.gel-chrome:before {
  content: "\e936";
}
.gel-circle:before {
  content: "\e937";
}
.gel-clipboard:before {
  content: "\e938";
}
.gel-clock:before {
  content: "\e939";
}
.gel-cloud:before {
  content: "\e93a";
}
.gel-cloud-drizzle:before {
  content: "\e93b";
}
.gel-cloud-lightning:before {
  content: "\e93c";
}
.gel-cloud-off:before {
  content: "\e93d";
}
.gel-cloud-rain:before {
  content: "\e93e";
}
.gel-cloud-snow:before {
  content: "\e93f";
}
.gel-code:before {
  content: "\e940";
}
.gel-codepen:before {
  content: "\e941";
}
.gel-codesandbox:before {
  content: "\e942";
}
.gel-coffee:before {
  content: "\e943";
}
.gel-columns:before {
  content: "\e944";
}
.gel-command:before {
  content: "\e945";
}
.gel-compass:before {
  content: "\e946";
}
.gel-copy:before {
  content: "\e947";
}
.gel-corner-down-left:before {
  content: "\e948";
}
.gel-corner-down-right:before {
  content: "\e949";
}
.gel-corner-left-down:before {
  content: "\e94a";
}
.gel-corner-left-up:before {
  content: "\e94b";
}
.gel-corner-right-down:before {
  content: "\e94c";
}
.gel-corner-right-up:before {
  content: "\e94d";
}
.gel-corner-up-left:before {
  content: "\e94e";
}
.gel-corner-up-right:before {
  content: "\e94f";
}
.gel-cpu:before {
  content: "\e950";
}
.gel-credit-card:before {
  content: "\e951";
}
.gel-crop:before {
  content: "\e952";
}
.gel-crosshair:before {
  content: "\e953";
}
.gel-database:before {
  content: "\e954";
}
.gel-delete:before {
  content: "\e955";
}
.gel-disc:before {
  content: "\e956";
}
.gel-dollar-sign:before {
  content: "\e957";
}
.gel-download:before {
  content: "\e958";
}
.gel-download-cloud:before {
  content: "\e959";
}
.gel-droplet:before {
  content: "\e95a";
}
.gel-edit:before {
  content: "\e95b";
}
.gel-edit-2:before {
  content: "\e95c";
}
.gel-edit-3:before {
  content: "\e95d";
}
.gel-external-link:before {
  content: "\e95e";
}
.gel-eye:before {
  content: "\e95f";
}
.gel-eye-off:before {
  content: "\e960";
}
.gel-facebook:before {
  content: "\e961";
}
.gel-fast-forward:before {
  content: "\e962";
}
.gel-feather:before {
  content: "\e963";
}
.gel-figma:before {
  content: "\e964";
}
.gel-file:before {
  content: "\e965";
}
.gel-file-minus:before {
  content: "\e966";
}
.gel-file-plus:before {
  content: "\e967";
}
.gel-file-text:before {
  content: "\e968";
}
.gel-film:before {
  content: "\e969";
}
.gel-filter:before {
  content: "\e96a";
}
.gel-flag:before {
  content: "\e96b";
}
.gel-folder:before {
  content: "\e96c";
}
.gel-folder-minus:before {
  content: "\e96d";
}
.gel-folder-plus:before {
  content: "\e96e";
}
.gel-framer:before {
  content: "\e96f";
}
.gel-frown:before {
  content: "\e970";
}
.gel-gift:before {
  content: "\e971";
}
.gel-git-branch:before {
  content: "\e972";
}
.gel-git-commit:before {
  content: "\e973";
}
.gel-git-merge:before {
  content: "\e974";
}
.gel-git-pull-request:before {
  content: "\e975";
}
.gel-github:before {
  content: "\e976";
}
.gel-gitlab:before {
  content: "\e977";
}
.gel-globe:before {
  content: "\e978";
}
.gel-grid:before {
  content: "\e979";
}
.gel-hard-drive:before {
  content: "\e97a";
}
.gel-hash:before {
  content: "\e97b";
}
.gel-headphones:before {
  content: "\e97c";
}
.gel-heart:before {
  content: "\e97d";
}
.gel-help-circle:before {
  content: "\e97e";
}
.gel-hexagon:before {
  content: "\e97f";
}
.gel-home:before {
  content: "\e980";
}
.gel-image:before {
  content: "\e981";
}
.gel-inbox:before {
  content: "\e982";
}
.gel-info:before {
  content: "\e983";
}
.gel-instagram:before {
  content: "\e984";
}
.gel-italic:before {
  content: "\e985";
}
.gel-key:before {
  content: "\e986";
}
.gel-layers:before {
  content: "\e987";
}
.gel-layout:before {
  content: "\e988";
}
.gel-life-buoy:before {
  content: "\e989";
}
.gel-link:before {
  content: "\e98a";
}
.gel-link-2:before {
  content: "\e98b";
}
.gel-linkedin:before {
  content: "\e98c";
}
.gel-list:before {
  content: "\e98d";
}
.gel-loader:before {
  content: "\e98e";
}
.gel-lock:before {
  content: "\e98f";
}
.gel-log-in:before {
  content: "\e990";
}
.gel-log-out:before {
  content: "\e991";
}
.gel-mail:before {
  content: "\e992";
}
.gel-map:before {
  content: "\e993";
}
.gel-map-pin:before {
  content: "\e994";
}
.gel-maximize:before {
  content: "\e995";
}
.gel-maximize-2:before {
  content: "\e996";
}
.gel-meh:before {
  content: "\e997";
}
.gel-menu:before {
  content: "\e998";
}
.gel-message-circle:before {
  content: "\e999";
}
.gel-message-square:before {
  content: "\e99a";
}
.gel-mic:before {
  content: "\e99b";
}
.gel-mic-off:before {
  content: "\e99c";
}
.gel-minimize:before {
  content: "\e99d";
}
.gel-minimize-2:before {
  content: "\e99e";
}
.gel-minus:before {
  content: "\e99f";
}
.gel-minus-circle:before {
  content: "\e9a0";
}
.gel-minus-square:before {
  content: "\e9a1";
}
.gel-monitor:before {
  content: "\e9a2";
}
.gel-moon:before {
  content: "\e9a3";
}
.gel-more-horizontal:before {
  content: "\e9a4";
}
.gel-more-vertical:before {
  content: "\e9a5";
}
.gel-mouse-pointer:before {
  content: "\e9a6";
}
.gel-move:before {
  content: "\e9a7";
}
.gel-music:before {
  content: "\e9a8";
}
.gel-navigation:before {
  content: "\e9a9";
}
.gel-navigation-2:before {
  content: "\e9aa";
}
.gel-octagon:before {
  content: "\e9ab";
}
.gel-package:before {
  content: "\e9ac";
}
.gel-paperclip:before {
  content: "\e9ad";
}
.gel-pause:before {
  content: "\e9ae";
}
.gel-pause-circle:before {
  content: "\e9af";
}
.gel-pen-tool:before {
  content: "\e9b0";
}
.gel-percent:before {
  content: "\e9b1";
}
.gel-phone:before {
  content: "\e9b2";
}
.gel-phone-call:before {
  content: "\e9b3";
}
.gel-phone-forwarded:before {
  content: "\e9b4";
}
.gel-phone-incoming:before {
  content: "\e9b5";
}
.gel-phone-missed:before {
  content: "\e9b6";
}
.gel-phone-off:before {
  content: "\e9b7";
}
.gel-phone-outgoing:before {
  content: "\e9b8";
}
.gel-pie-chart:before {
  content: "\e9b9";
}
.gel-play:before {
  content: "\e9ba";
}
.gel-play-circle:before {
  content: "\e9bb";
}
.gel-plus:before {
  content: "\e9bc";
}
.gel-plus-circle:before {
  content: "\e9bd";
}
.gel-plus-square:before {
  content: "\e9be";
}
.gel-pocket:before {
  content: "\e9bf";
}
.gel-power:before {
  content: "\e9c0";
}
.gel-printer:before {
  content: "\e9c1";
}
.gel-radio:before {
  content: "\e9c2";
}
.gel-refresh-ccw:before {
  content: "\e9c3";
}
.gel-refresh-cw:before {
  content: "\e9c4";
}
.gel-repeat:before {
  content: "\e9c5";
}
.gel-rewind:before {
  content: "\e9c6";
}
.gel-rotate-ccw:before {
  content: "\e9c7";
}
.gel-rotate-cw:before {
  content: "\e9c8";
}
.gel-rss:before {
  content: "\e9c9";
}
.gel-save:before {
  content: "\e9ca";
}
.gel-scissors:before {
  content: "\e9cb";
}
.gel-search:before {
  content: "\e9cc";
}
.gel-send:before {
  content: "\e9cd";
}
.gel-server:before {
  content: "\e9ce";
}
.gel-settings:before {
  content: "\e9cf";
}
.gel-share:before {
  content: "\e9d0";
}
.gel-share-2:before {
  content: "\e9d1";
}
.gel-shield:before {
  content: "\e9d2";
}
.gel-shield-off:before {
  content: "\e9d3";
}
.gel-shopping-bag:before {
  content: "\e9d4";
}
.gel-shopping-cart:before {
  content: "\e9d5";
}
.gel-shuffle:before {
  content: "\e9d6";
}
.gel-sidebar:before {
  content: "\e9d7";
}
.gel-skip-back:before {
  content: "\e9d8";
}
.gel-skip-forward:before {
  content: "\e9d9";
}
.gel-slack:before {
  content: "\e9da";
}
.gel-slash:before {
  content: "\e9db";
}
.gel-sliders:before {
  content: "\e9dc";
}
.gel-smartphone:before {
  content: "\e9dd";
}
.gel-smile:before {
  content: "\e9de";
}
.gel-speaker:before {
  content: "\e9df";
}
.gel-square:before {
  content: "\e9e0";
}
.gel-star:before {
  content: "\e9e1";
}
.gel-stop-circle:before {
  content: "\e9e2";
}
.gel-sun:before {
  content: "\e9e3";
}
.gel-sunrise:before {
  content: "\e9e4";
}
.gel-sunset:before {
  content: "\e9e5";
}
.gel-tablet:before {
  content: "\e9e6";
}
.gel-tag:before {
  content: "\e9e7";
}
.gel-target:before {
  content: "\e9e8";
}
.gel-terminal:before {
  content: "\e9e9";
}
.gel-thermometer:before {
  content: "\e9ea";
}
.gel-thumbs-down:before {
  content: "\e9eb";
}
.gel-thumbs-up:before {
  content: "\e9ec";
}
.gel-toggle-left:before {
  content: "\e9ed";
}
.gel-toggle-right:before {
  content: "\e9ee";
}
.gel-tool:before {
  content: "\e9ef";
}
.gel-trash:before {
  content: "\e9f0";
}
.gel-trash-2:before {
  content: "\e9f1";
}
.gel-trello:before {
  content: "\e9f2";
}
.gel-trending-down:before {
  content: "\e9f3";
}
.gel-trending-up:before {
  content: "\e9f4";
}
.gel-triangle:before {
  content: "\e9f5";
}
.gel-truck:before {
  content: "\e9f6";
}
.gel-tv:before {
  content: "\e9f7";
}
.gel-twitch:before {
  content: "\e9f8";
}
.gel-twitter:before {
  content: "\e9f9";
}
.gel-type:before {
  content: "\e9fa";
}
.gel-umbrella:before {
  content: "\e9fb";
}
.gel-underline:before {
  content: "\e9fc";
}
.gel-unlock:before {
  content: "\e9fd";
}
.gel-upload:before {
  content: "\e9fe";
}
.gel-upload-cloud:before {
  content: "\e9ff";
}
.gel-user:before {
  content: "\ea00";
}
.gel-user-check:before {
  content: "\ea01";
}
.gel-user-minus:before {
  content: "\ea02";
}
.gel-user-plus:before {
  content: "\ea03";
}
.gel-user-x:before {
  content: "\ea04";
}
.gel-users:before {
  content: "\ea05";
}
.gel-video:before {
  content: "\ea06";
}
.gel-video-off:before {
  content: "\ea07";
}
.gel-voicemail:before {
  content: "\ea08";
}
.gel-volume:before {
  content: "\ea09";
}
.gel-volume-1:before {
  content: "\ea0a";
}
.gel-volume-2:before {
  content: "\ea0b";
}
.gel-volume-x:before {
  content: "\ea0c";
}
.gel-watch:before {
  content: "\ea0d";
}
.gel-wifi:before {
  content: "\ea0e";
}
.gel-wifi-off:before {
  content: "\ea0f";
}
.gel-wind:before {
  content: "\ea10";
}
.gel-x:before {
  content: "\ea11";
}
.gel-x-circle:before {
  content: "\ea12";
}
.gel-x-octagon:before {
  content: "\ea13";
}
.gel-x-square:before {
  content: "\ea14";
}
.gel-youtube:before {
  content: "\ea15";
}
.gel-zap:before {
  content: "\ea16";
}
.gel-zap-off:before {
  content: "\ea17";
}
.gel-zoom-in:before {
  content: "\ea18";
}
.gel-zoom-out:before {
  content: "\ea19";
}
