$icomoon-font-family: "aemo-gel-icon" !default;
$icomoon-font-path: "fonts" !default;

$gel-sort: "\ea1a";
$gel-caret-up: "\ea1b";
$gel-caret-right: "\ea1c";
$gel-caret-left: "\ea1d";
$gel-activity: "\e900";
$gel-airplay: "\e901";
$gel-alert-circle: "\e902";
$gel-alert-octagon: "\e903";
$gel-alert-triangle: "\e904";
$gel-align-center: "\e905";
$gel-align-justify: "\e906";
$gel-align-left: "\e907";
$gel-align-right: "\e908";
$gel-anchor: "\e909";
$gel-aperture: "\e90a";
$gel-archive: "\e90b";
$gel-arrow-down: "\e90c";
$gel-arrow-down-circle: "\e90d";
$gel-arrow-down-left: "\e90e";
$gel-arrow-down-right: "\e90f";
$gel-arrow-left: "\e910";
$gel-arrow-left-circle: "\e911";
$gel-arrow-right: "\e912";
$gel-arrow-right-circle: "\e913";
$gel-arrow-up: "\e914";
$gel-arrow-up-circle: "\e915";
$gel-arrow-up-left: "\e916";
$gel-arrow-up-right: "\e917";
$gel-at-sign: "\e918";
$gel-award: "\e919";
$gel-bar-chart: "\e91a";
$gel-bar-chart-2: "\e91b";
$gel-battery: "\e91c";
$gel-battery-charging: "\e91d";
$gel-bell: "\e91e";
$gel-bell-off: "\e91f";
$gel-bluetooth: "\e920";
$gel-bold: "\e921";
$gel-book: "\e922";
$gel-book-open: "\e923";
$gel-bookmark: "\e924";
$gel-box: "\e925";
$gel-briefcase: "\e926";
$gel-calendar: "\e927";
$gel-camera: "\e928";
$gel-camera-off: "\e929";
$gel-cast: "\e92a";
$gel-check: "\e92b";
$gel-check-circle: "\e92c";
$gel-check-square: "\e92d";
$gel-chevron-down: "\e92e";
$gel-chevron-left: "\e92f";
$gel-chevron-right: "\e930";
$gel-chevron-up: "\e931";
$gel-chevrons-down: "\e932";
$gel-chevrons-left: "\e933";
$gel-chevrons-right: "\e934";
$gel-chevrons-up: "\e935";
$gel-chrome: "\e936";
$gel-circle: "\e937";
$gel-clipboard: "\e938";
$gel-clock: "\e939";
$gel-cloud: "\e93a";
$gel-cloud-drizzle: "\e93b";
$gel-cloud-lightning: "\e93c";
$gel-cloud-off: "\e93d";
$gel-cloud-rain: "\e93e";
$gel-cloud-snow: "\e93f";
$gel-code: "\e940";
$gel-codepen: "\e941";
$gel-codesandbox: "\e942";
$gel-coffee: "\e943";
$gel-columns: "\e944";
$gel-command: "\e945";
$gel-compass: "\e946";
$gel-copy: "\e947";
$gel-corner-down-left: "\e948";
$gel-corner-down-right: "\e949";
$gel-corner-left-down: "\e94a";
$gel-corner-left-up: "\e94b";
$gel-corner-right-down: "\e94c";
$gel-corner-right-up: "\e94d";
$gel-corner-up-left: "\e94e";
$gel-corner-up-right: "\e94f";
$gel-cpu: "\e950";
$gel-credit-card: "\e951";
$gel-crop: "\e952";
$gel-crosshair: "\e953";
$gel-database: "\e954";
$gel-delete: "\e955";
$gel-disc: "\e956";
$gel-dollar-sign: "\e957";
$gel-download: "\e958";
$gel-download-cloud: "\e959";
$gel-droplet: "\e95a";
$gel-edit: "\e95b";
$gel-edit-2: "\e95c";
$gel-edit-3: "\e95d";
$gel-external-link: "\e95e";
$gel-eye: "\e95f";
$gel-eye-off: "\e960";
$gel-facebook: "\e961";
$gel-fast-forward: "\e962";
$gel-feather: "\e963";
$gel-figma: "\e964";
$gel-file: "\e965";
$gel-file-minus: "\e966";
$gel-file-plus: "\e967";
$gel-file-text: "\e968";
$gel-film: "\e969";
$gel-filter: "\e96a";
$gel-flag: "\e96b";
$gel-folder: "\e96c";
$gel-folder-minus: "\e96d";
$gel-folder-plus: "\e96e";
$gel-framer: "\e96f";
$gel-frown: "\e970";
$gel-gift: "\e971";
$gel-git-branch: "\e972";
$gel-git-commit: "\e973";
$gel-git-merge: "\e974";
$gel-git-pull-request: "\e975";
$gel-github: "\e976";
$gel-gitlab: "\e977";
$gel-globe: "\e978";
$gel-grid: "\e979";
$gel-hard-drive: "\e97a";
$gel-hash: "\e97b";
$gel-headphones: "\e97c";
$gel-heart: "\e97d";
$gel-help-circle: "\e97e";
$gel-hexagon: "\e97f";
$gel-home: "\e980";
$gel-image: "\e981";
$gel-inbox: "\e982";
$gel-info: "\e983";
$gel-instagram: "\e984";
$gel-italic: "\e985";
$gel-key: "\e986";
$gel-layers: "\e987";
$gel-layout: "\e988";
$gel-life-buoy: "\e989";
$gel-link: "\e98a";
$gel-link-2: "\e98b";
$gel-linkedin: "\e98c";
$gel-list: "\e98d";
$gel-loader: "\e98e";
$gel-lock: "\e98f";
$gel-log-in: "\e990";
$gel-log-out: "\e991";
$gel-mail: "\e992";
$gel-map: "\e993";
$gel-map-pin: "\e994";
$gel-maximize: "\e995";
$gel-maximize-2: "\e996";
$gel-meh: "\e997";
$gel-menu: "\e998";
$gel-message-circle: "\e999";
$gel-message-square: "\e99a";
$gel-mic: "\e99b";
$gel-mic-off: "\e99c";
$gel-minimize: "\e99d";
$gel-minimize-2: "\e99e";
$gel-minus: "\e99f";
$gel-minus-circle: "\e9a0";
$gel-minus-square: "\e9a1";
$gel-monitor: "\e9a2";
$gel-moon: "\e9a3";
$gel-more-horizontal: "\e9a4";
$gel-more-vertical: "\e9a5";
$gel-mouse-pointer: "\e9a6";
$gel-move: "\e9a7";
$gel-music: "\e9a8";
$gel-navigation: "\e9a9";
$gel-navigation-2: "\e9aa";
$gel-octagon: "\e9ab";
$gel-package: "\e9ac";
$gel-paperclip: "\e9ad";
$gel-pause: "\e9ae";
$gel-pause-circle: "\e9af";
$gel-pen-tool: "\e9b0";
$gel-percent: "\e9b1";
$gel-phone: "\e9b2";
$gel-phone-call: "\e9b3";
$gel-phone-forwarded: "\e9b4";
$gel-phone-incoming: "\e9b5";
$gel-phone-missed: "\e9b6";
$gel-phone-off: "\e9b7";
$gel-phone-outgoing: "\e9b8";
$gel-pie-chart: "\e9b9";
$gel-play: "\e9ba";
$gel-play-circle: "\e9bb";
$gel-plus: "\e9bc";
$gel-plus-circle: "\e9bd";
$gel-plus-square: "\e9be";
$gel-pocket: "\e9bf";
$gel-power: "\e9c0";
$gel-printer: "\e9c1";
$gel-radio: "\e9c2";
$gel-refresh-ccw: "\e9c3";
$gel-refresh-cw: "\e9c4";
$gel-repeat: "\e9c5";
$gel-rewind: "\e9c6";
$gel-rotate-ccw: "\e9c7";
$gel-rotate-cw: "\e9c8";
$gel-rss: "\e9c9";
$gel-save: "\e9ca";
$gel-scissors: "\e9cb";
$gel-search: "\e9cc";
$gel-send: "\e9cd";
$gel-server: "\e9ce";
$gel-settings: "\e9cf";
$gel-share: "\e9d0";
$gel-share-2: "\e9d1";
$gel-shield: "\e9d2";
$gel-shield-off: "\e9d3";
$gel-shopping-bag: "\e9d4";
$gel-shopping-cart: "\e9d5";
$gel-shuffle: "\e9d6";
$gel-sidebar: "\e9d7";
$gel-skip-back: "\e9d8";
$gel-skip-forward: "\e9d9";
$gel-slack: "\e9da";
$gel-slash: "\e9db";
$gel-sliders: "\e9dc";
$gel-smartphone: "\e9dd";
$gel-smile: "\e9de";
$gel-speaker: "\e9df";
$gel-square: "\e9e0";
$gel-star: "\e9e1";
$gel-stop-circle: "\e9e2";
$gel-sun: "\e9e3";
$gel-sunrise: "\e9e4";
$gel-sunset: "\e9e5";
$gel-tablet: "\e9e6";
$gel-tag: "\e9e7";
$gel-target: "\e9e8";
$gel-terminal: "\e9e9";
$gel-thermometer: "\e9ea";
$gel-thumbs-down: "\e9eb";
$gel-thumbs-up: "\e9ec";
$gel-toggle-left: "\e9ed";
$gel-toggle-right: "\e9ee";
$gel-tool: "\e9ef";
$gel-trash: "\e9f0";
$gel-trash-2: "\e9f1";
$gel-trello: "\e9f2";
$gel-trending-down: "\e9f3";
$gel-trending-up: "\e9f4";
$gel-triangle: "\e9f5";
$gel-truck: "\e9f6";
$gel-tv: "\e9f7";
$gel-twitch: "\e9f8";
$gel-twitter: "\e9f9";
$gel-type: "\e9fa";
$gel-umbrella: "\e9fb";
$gel-underline: "\e9fc";
$gel-unlock: "\e9fd";
$gel-upload: "\e9fe";
$gel-upload-cloud: "\e9ff";
$gel-user: "\ea00";
$gel-user-check: "\ea01";
$gel-user-minus: "\ea02";
$gel-user-plus: "\ea03";
$gel-user-x: "\ea04";
$gel-users: "\ea05";
$gel-video: "\ea06";
$gel-video-off: "\ea07";
$gel-voicemail: "\ea08";
$gel-volume: "\ea09";
$gel-volume-1: "\ea0a";
$gel-volume-2: "\ea0b";
$gel-volume-x: "\ea0c";
$gel-watch: "\ea0d";
$gel-wifi: "\ea0e";
$gel-wifi-off: "\ea0f";
$gel-wind: "\ea10";
$gel-x: "\ea11";
$gel-x-circle: "\ea12";
$gel-x-octagon: "\ea13";
$gel-x-square: "\ea14";
$gel-youtube: "\ea15";
$gel-zap: "\ea16";
$gel-zap-off: "\ea17";
$gel-zoom-in: "\ea18";
$gel-zoom-out: "\ea19";

